nav{
    margin: 0% 10%;
}

#navbarLeftPart{
    width: 70%;
}
#navbarRightPart{
    width: 30%;
    display: flex;
    justify-content: center;
    
}
.links{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

input{
    margin: 10px 10px;
    border-radius: 5px;

}
#firstSection{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
}
#mealItemsList{  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
}

.mealDivItems{
    margin: 1%;
    padding: 1%;
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px grey;
}

.mealDivItems img{
    width: 100%;
    height: 230px;
    border-radius:7px;
}
#ingredientsShowStage{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#ingredientsShowStage img{
    width: 550px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px grey;
}